extends layout 

block content 
  div(class="loginFormDiv")
    h1= title 
    form(method="POST" action='')
      label(for="username") Username: 
      input(name="username" type="text" placeholder="username")
      label(for="password") Password: 
      input(name="password" type="password" placeholder="password")
      button(type="submit") Login 

    if errors   
      ul 
        for error in errors 
          li!=error.msg

