extends layout 

block content 
  h1= title 
  
  form(method="POST" action='')
    label(for="username") Username: 
    input(name="username" type="text")
    label(for="password") Password: 
    input(name="password" type="password")
    button(type="submit") Login 

  if errors   
    ul 
      for error in errors 
        li!=error.msg

