extends layout 

block content 
  div(class="newMsgForm")
    h1=title 

    form(method="POST" action='')
      label(for="msg_title") Title:
      input(name="msg_title", type="text" value=(message===undefined? '': message.title))
      label(for="msg_text") Message: 
      textarea(rows="10", name="msg_text", type="textarea" value=(message===undefined? '': message.text_message))
      button(type="submit") Create Message

    if errors   
      ul 
        for error in errors 
          li!=error.msg