extends layout 

block content 
  div(class="signupFormDiv")
    h1= title 
    form(action='' method='POST')
      label(for="username") Username: 
      input(name="username" placeholder="Username" type='text' value=(user===undefined? '': user.username))
      if error 
        #{error}
      label(for="password") Password: 
      input(name='password' type="password" placeholder="Password")
      label(for="conf_password") Confirm Password: 
      input(name="conf_password" type="password" placeholder="Confirm Password")
      button.btn(type='submit') Sign Up 
    
    if errors   
      ul 
        for error in errors 
          li!=error.msg
